<div class="row">
  <div class="col-sm-2"></div>
  <div class="col-sm-8">
    <div class="jumbotron">
      <h3>That's how it's done.</h3>
      <p> Your new instance is currently booting up.</p>
      <p> You should be receiving an email shortly with instructions on how to log in.</p>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-2"></div>
  <div class="col-sm-8">
    <p> If you haven't already, please ensure that your domain records for the
    requested hostnames resolve to the IP address <code><%= droplet.assigned_floating_ip_addr %></code>.</p>
    <p> If you don't know what any of that means, <a href="TODO">click here</a>
    and we'll help you out!</p>
  </div>
</div>
<hr />
<div class="row">
  <div class="col-sm-12">
    <p>If at any time you change your mind, come back to this site and visit the
    <a href='/remove'>page</a> and we'll walk you through removing your intances.
  </div>
</div>
