<div class="row">
  <div class="col-sm-2"></div>
  <div class="col-sm-8">
    <div class="jumbotron">
      <h3>Here's how it's done.</h3>
      <p> We're going to walk you through creating your personal online automaton.</p>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-2"></div>
  <div class="col-sm-4">
    <h4>What's all this then?</h4>
    <p>This app will create a fully configured Fulcrum instance on <a href="/do">Digital Ocean</a>, a cloud hosting provider.</p>
    <p> What this means is that you will have a server, running in the cloud, secured and ready to do your bidding.</p>
    <p>This also means that if you follow this wizard all the way through, you're going to spend money.</p>
  </div>
  <div class="col-sm-4">
    <h4>How much money?</h4>
    <p>Not very much money, as little as a few cents if all you want to do is fire up Fulcrum to click around.</p>
    <p>We provide a "Destroy All The Money Costing Things" button at the end, so if Fulcrum turns out to be not-for-you, we have you covered.</p>
  </div>
</div>
<hr />
<div class="row">
  <div class="col-sm-3"></div>
    <a class="btn btn-success btn-lg" href="/auth/digitalocean">Fuck it, lets get started!</a>
  <div class="col-sm-3"></div>
  <div class="col-sm-6">
  </div>
</div>
